.product-container {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-evenly;
  /* justify-content: start;
  align-items: start;
  align-content: start; */
  gap: 10px;
  margin: 5% 15%;
}

.product-card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
  height: 350px;
  width: 31%;
  padding-bottom: 5%;
  margin-bottom: 2%;
  border: 5px outset rgb(245, 245, 245);
  
}

.product-card:last-child {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 32%;
}

@media (max-width: 600px) {
  .product-card {
    flex: 1 1 100%;
  }
}

.product-image {
  height: 200px;
  width: 100%;
  background-size: cover;
}

.product-title {

}

.product-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.product-price {

}

.product-button {
  font-size: 20px;
  background-color: inherit;
  border: none;
  position: relative;
  bottom: 0px;
}

.product-button:hover {
  font-size: 20px;
  color: var(--primary-color);
  border: none;
}