.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1%;
  margin: 5% 15%;
}

.product-card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 32%;
  width: 32%;
  border: 1px outset rgb(245, 245, 245);
}

.product-card:last-child {
  /* flex-grow: 0; */
  /* flex-shrink: 1; */
  /* flex-basis: 32%; */
}

@media (max-width: 768px) {
  .product-card {
    flex: 1 1 100%;
    min-width: 400px;
  }
}

.product-image {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.product-info > *{
  margin-top: 0;
  margin-bottom: 0;
}

.product-title {
  /* margin-top: 0; */
}

.product-description {
  /* white-space: wrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  
}

.product-price {
  /* margin-top: 0; */
}

.product-button {
  font-size: 20px;
  background-color: inherit;
  border: none;
  position: relative;
  /* bottom: 0; */
  bottom: 0px;
}

.product-button:hover {
  font-size: 20px;
  color: var(--primary-color);
  border: none;
}